{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white">Chat</div>
    {% if user.is_authenticated%}
    <div class="card-header bg-primary text-white"><b> Welcome {{user.username}}</b>   <a style = "color : white" href = "logout">Logout</a></div>

    {%else%}
    <div class="card-header bg-primary text-white"><a style = "color : white" href = "login">Login</a>   <a style = "color : white" href = "register">Register</a></div>

    {%endif%}
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">

        <!-- below code is for new messages -->
        
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot Welcome Message</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, I am your AI Chatbot. You can ask me anything. Happy to answer! If you like the app, Star &#9734; https://github.com/Shailaputri/AIChatbot.
            </div>
          </div>
        </li>


       

        {%for chat in prevChats%}
          {%if chat.user == request.user%}
           <!-- below code is for prevChats sent by user -->
           <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <!-- below code is for prevChats received by user sent by AIbot -->

          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                {{chat.response}}
              </div>
            </div>
          </li>


          {%endif%}

        {%endfor%}

      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  // generates an event on submit and prevents refreshing of page everytime we click on submit
  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    // Creates a new list for user sent message
    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    // appends message to already present messages
    messagesList.appendChild(messageItem);

    // reset the imput bar to blank
    messageInput.value = '';

    // catch user message for backend ie for views.py
    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
    // catch ai chatbot response and add this to message list
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });

    // document.getElementById("Register").addEventListener("click", redirectFunction);
        
    //     function redirectFunction(){
    //         window.location.href = "register";

</script>
{% endblock %}